*.class

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.class

# Package Files #
*.war

# gwt caches and compiled units #
Fujimiya/war/fujimiya/
Fujimiya/gwt-unitCache/
Fujimiya/test-classes/
Fujimiya/www-test/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
Fujimiya/war/WEB-INF/deploy/
Fujimiya/war/WEB-INF/classes/

# App engine generated #
Fujimiya/war/WEB-INF/appengine-generated/

*.swp

# Secret properties
secretkeys.properties
