<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>jp.gecko655.fujimiya.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/fujimiya/greet</url-pattern>
  </servlet-mapping>
  <!-- Fujimiya bot -->
  <servlet>
      <servlet-name>fujimiyaRemove</servlet-name>
      <servlet-class>jp.gecko655.fujimiya.bot.FujimiyaRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fujimiyaRemove</servlet-name>
    <url-pattern>/cron/fujimiyaRemove</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>fujimiyaFollow</servlet-name>
      <servlet-class>jp.gecko655.fujimiya.bot.FujimiyaFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fujimiyaFollow</servlet-name>
    <url-pattern>/cron/fujimiyaFollow</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>fujimiyaBot</servlet-name>
      <servlet-class>jp.gecko655.fujimiya.bot.FujimiyaBot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fujimiyaBot</servlet-name>
    <url-pattern>/cron/fujimiyaBot</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>/cron/*</web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Fujimiya.html</welcome-file>
  </welcome-file-list>

</web-app>
